h1 {
    font-family:Arial, Helvettica, Sans-serif;
    color: darkmagenta;
}

body {
    background-color: thistle;
    font-family:Arial, Helvettica, Sans-serif;
}

table {
    border-collapse: collapse;
    border: 3px solid darkmagenta;
}

th {
    color: black;
    background-color: plum;
    border: none;
    text-align: right;
}

tr {
    color: black;
    background-color: navajowhite;
    border:none;
}

.right{
    text-align:right;
}

.add td{
    border:none;
    height:25px;
    padding:10px;
    font-weight:bold;
}

.update td{
    border:none;
    height:25px;
    padding:10px;
    font-weight:bold;
}

input[readonly]{
    background-color:gray;
}

.wrap{
	text-align:center;
	width:90%;
	margin:0 auto;
	border: 8px solid darkmagenta;
	margin-top:25px;
}

.header{
        text-align:left;
	padding:25px;
        color: darkmagenta;
}
.headerImg{
	float:left;
	width:200px;
}
.headerText{
        text-align: center;
	height:110px;
	padding-top:50px;
	padding-left:25px;
}

.main{
    text-align:left; 
    height:80%; 
    padding:20px; 
    width:95%; 
    display:inline-table;
}

.footer{
	text-align:left;
	padding:25px;
        color: darkmagenta;
}

.navcontainer {
    text-align:left; 
    font-size:20px;
    float:left;
    margin-left:11px; 
    padding-bottom:15px; 
    padding-left:3px;
    color: darkmagenta;
}

.navlist{
    list-style:none;
    padding:0;
    margin:0;
    color: darkmagenta;
}

 .navlist li{
     display: inline;
     padding: 0;
     margin: 0;
 }

.navlist h:before{content:"| ";}
.navlist h:first-child:before{content:"";}

.add td {border: none; height:25px; padding:10px; font-weight:bold;}
.update td {border: none; height:25px; padding:10px; font-weight:bold;}